@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                <div class="user-avatar">
                    @(User.Identity?.Name?[0].ToString().ToUpper())
                </div>
                @User.Identity?.Name
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="material-icons align-middle me-2" style="font-size: 20px;">account_circle</i>
                        Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="material-icons align-middle me-2" style="font-size: 20px;">history</i>
                        History
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="material-icons align-middle me-2" style="font-size: 20px;">settings</i>
                        Settings
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                          asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item text-danger">
                            <i class="material-icons align-middle me-2" style="font-size: 20px;">logout</i>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <i class="material-icons align-middle me-1" style="font-size: 20px;">person_add</i>
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-white px-3 ms-2" asp-area="Identity" asp-page="/Account/Login">
                <i class="material-icons align-middle me-1" style="font-size: 20px;">login</i>
                Login
            </a>
        </li>
    }
</ul>